@model Assignment_4_ASP.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">Back to Teachers</a>
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
    </nav>
    <h2>@Model.TeacherFname @Model.TeacherLname</h2>
    <p>Teaching Since @Model.TeacherHireDate.ToString("dd-MMM-yyyy")</p>
    <p>@Model.TeacherEmployeeNumber</p>
    <p>@Model.TeacherSalary</p>
</div>


